//01-7. color common use
$color-white: #fff;
$color-black: #000;
$color-red-01: #e6002d;

$color-black-01:#212121;

$color-blue-01:#0288d1;
$color-blue-02:#03a9f4;
$color-blue-03:#00a7ea;

$color-pink-01:#ff4081;

$color-grey-01:#9b9b9b;
$color-grey-02:#d8d8d8;
$color-grey-03:#4a4a4a;
$color-grey-04:#757575;
$color-grey-05: #bebec0;
$color-grey-06: #f9f9f9;
$color-grey-07:#bdbdbd;
$color-grey-08: #eaeaea;
$color-grey-09: #ececec;
$color-grey-10: #f5f5f5;
$color-main: $color-blue-01;
$color-main-light: #03a9f4;
$color-main-light2: #b3e5fc;

$color-sub: $color-pink-01;
$color-sub-light: #ffa4c3;
$color-third: #004ea1;
$color-font: $color-black-01;
$color-nav-text: $color-grey-04; // nav 的顏色
$color-nav-text-hover: $color-pink-01; // nav hover color
$color-nav-lang-hover: $color-main; // lang hover coloe


$shadow-style1:0 0 6px 0 rgba(0, 0, 0, 0.19);
$shadow-style2:0 2px 14px 0 rgba(0, 0, 0, 0.14);
$shadow-style3: 2px 3px 16px 1px rgba(155, 155, 155, 0.38);
$shadow-style4: 0 2px 16px 0 rgba(0, 0, 0, 0.18);
$shadow-style5: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
$img-cover:rgba(0, 0, 0, 0.24);
$text-shadow-style1:0 2px 9px rgba(0, 0, 0, 0.37);

//bg color
$content-block-bg:rgba(179, 229, 252, 0.21);

// ===== 02 font setting ======

// 02-1 font basic setting
$font-family: Arial,
"文泉驛正黑",
"WenQuanYi Zen Hei",
"蘋方-繁",
"PingFang TC",
"黑體-繁",
"Heiti TC",
"儷黑 Pro",
"LiHei Pro",
"微軟正黑體",
"Microsoft JhengHei",
sans-serif;
$font-line-height: 28px;
$letter-space-normal: 0.2px;
$letter-space-lg: 0.3px;
$font-line-height-md: 1.5;
$font-line-height-lg: $font-line-height-md * 2;
// 02-2 font base  when text sm : base = 16 ; text md : base = 18; text lg : base = 20
$font-base-num: 16;
$font-base-num-md: 18;
$font-base-num-lg: 20;
$font-size-md: 1rem; //16px

// 02-3.a title font size
$font-size-lg:48px;
$font-size-h2: $font-size-md*(36/$font-base-num); //36px
$font-size-h3: $font-size-md*(28/$font-base-num); //28px;
$font-size-h4: $font-size-md*(26/$font-base-num); //26px;
$font-size-h5: $font-size-md*(24/$font-base-num); //24px;

// 02-3.b setting font size  ( has it own rule about scale fon size, not follow the rule of base rem)
$font-size-config:(font-size_lg :(font-size-h2: $font-size-md*(40/$font-base-num-lg), // 40px
    font-size-h4: $font-size-md*(26/$font-base-num-lg), //26px
    font-size-h5: $font-size-md*(24/$font-base-num-lg) //24px
  ),
  font-size_md :(font-size-h2: $font-size-md*(40/$font-base-num-md), // 40px
    font-size-h4: $font-size-md*(26/$font-base-num-md), // 26px
    font-size-h5: $font-size-md*(24/$font-base-num) // use sm ratio to the base
  ),
  font-size_sm:(font-size-h2: $font-size-md*(40/$font-base-num), // 40px
    font-size-h4: $font-size-md*(26/$font-base-num), //26px;
    font-size-h5: $font-size-md*(24/$font-base-num) //24px;
  ));

@function get-font-size($key, $type:'font-size_sm') {

  @each $font-name,
  $font-size in map-get($font-size-config, $type) {
    @if($key==$font-name) {
      @return $font-size;
    }
  }
}

@mixin get-font-size($font-size) {
  font-size: get-font-size($font-size, 'font-size_sm');

  .font-size_lg & {
    font-size: get-font-size($font-size, 'font-size_lg');
  }

  .font-size_md & {
    font-size: get-font-size($font-size, 'font-size_md');
  }
}

// 02-4 font size normal
$font-size-h6: $font-size-md*(20/$font-base-num); //20px
$font-size-h7: $font-size-md*(18/$font-base-num); //18px
$font-size-h8: $font-size-md; // 16px
$font-size-h9: 1rem * (14/$font-base-num); // 14px
$font-size-h10: $font-size-md *(12/$font-base-num); //12px


// ====== 03 screen width  ======
$screen-desktop: 1200px;
$screen-sm-than-desktop: 1199px;
$screen-pad-pro: 1366px;
$screen-lg-than-nb: 1025px;
$screen-nb: 1024px;
$screen-sm-than-nb: 1023px;
$screen-lg-pad: 992px;
$screen-lg-than-pad: 769px;
$screen-pad: 768px;
$screen-sm-than-pad: 767px;
$screen-lg-mobile: 500px;
$screen-mobile: 375px;
$screen-sm-than-mobile: 374px;
$screen-sm: 320px;


// layout size

$wd-logo-mobile: 204px;
$board-time-card-height: 220px;
$board-time-card-width: 135px;


// form setting from @neux/ui
// 表單基本變數
//$form-font-size: $font-size-h8 !default;  // 表單文字大小
// $form-height: 45px !default;  // 表單高度 （同行高）
// $form-radius: 25px !default; // input / select 圓角
// $form-border: 1px !default; // 邊框
// $form-border-input: $form-border !default; // input border
// $form-border-select: $form-border !default; // select border
$form-height-textarea: 75px;

// form color
$color-form-error: #e46009 !default;
//$color-form-disable: $color-grey-dark !default;
$color-form-normal: $color-font !default;
$color-checkbox-icon: $color-white !default; // checkbox color
$color-form-check-border: #e0e0e0 !default; // checkbox and radio border
$color-form-active: $color-main !default;
$color-form-dark: #e0e0e0; // use in search box on header
$color-bg-form: $color-white;
$color-bg-form-dark: #e0e0e0;


// btn:
$neux-ui-btn--sm:30px;

//
$space-nb: 30px;
$space-pad: 30px;
$space-mobile: 20px;

// layout: 內頁title 左間距
$space-inpage-title-left: 10px;
$breadcrumb-arrow-color: #bbb; // 麵包屑箭頭顏色同現行官網

$banner-slider-height:550px;
$banner-slider-height-mb:310px;