<nav class="ui-nav001">
  <div class="ui-nav001_menu" (click)="handelHambuger()">
    <!-- menu上面圖示 -->
    <!-- <div class="menu_hamburger" [ngClass]="isClickMenu ? 'active':''"></div> -->

      <div class="menu_hamburger" [ngClass]="isClickMenu ? 'active':''">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>
    
    <!-- menu上面字樣 -->
    <ng-container *ngFor="let char of menuChars; index as i">
    <div class="menu_char" >{{char}}</div>
  </ng-container>
  </div>
</nav>