@import 'style-import';
$hamburger-bar-width: 100%;
$hamburger-bar-width-ani:80%;
$hamburger-bar-height: 3px;
$hamburger-bar-spacing: 10px;
$nav-width:100%;
$menu-link-width:40px;
$menu-link-padding:10px;

.ui-nav001 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #fff;
    cursor: pointer;
    width: $nav-width;
    height: 100vh;
    min-width: calc(#{$menu-link-width} + (#{$menu-link-padding} * 2));
    box-shadow: $shadow-style1;

    @media (min-width: 680px) {
        height: 90vh;
    }

    &_menu {
        display: flex;
        padding: $menu-link-padding;
        width: $menu-link-width;
        text-align: center;
        // margin: auto;
        position: relative;
        z-index: 3;
        height: 100%;
        justify-content: center;
        flex-direction: column;

        .menu_hamburger,
        .menu_hamburger:after,
        .menu_hamburger:before {
            width: $hamburger-bar-width;
            height: $hamburger-bar-height;
        }

        .menu_hamburger {
            max-width: 40px;
            position: relative;
            transform: translateY($hamburger-bar-spacing);
            background: rgb(0, 0, 0);
            transition: all 0ms 300ms;
            margin-bottom: 50px;

            &.active {

                background: rgba(0, 0, 0, 1);
            }
        }

        .menu_hamburger:before,
        .menu_hamburger:after {
            content: "";
            position: absolute;
            left: 0;
            right: auto;
            background: rgba(0, 0, 0, 1);
            transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
        }

        .menu_hamburger {
            &:before {
                bottom: $hamburger-bar-spacing;
            }

            &:after {
                top: $hamburger-bar-spacing;
            }
        }

        .menu_hamburger.active {
            &:after {
                width: $hamburger-bar-width-ani;
                top: 7px;
                transform: rotate(45deg);
                transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
            }

            &:before {
                width: $hamburger-bar-width-ani;
                bottom: 7px;
                transform: rotate(-45deg);
                transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
            }
        }

        .menu_char {
            font-size: 1.5rem;
            line-height: 1.1;
            word-break: break-all;
        }
    }




}