@import "style-import";
.ui-title001{
    color: $color-white;

    .sub-title{
        font-size: $font-size-h8;
        text-transform: uppercase;
        letter-spacing: $font-space-sub;

    }
    .main-title{
        font-size: $font-size-h3;
        letter-spacing: $font-space-main;
        font-weight: bold;
    }
}