@import "style-import";
.ui-title001{
    .sub-title{

    }
    .main-title{
        
    }
}
small {
    display: block;
    text-transform: uppercase;
    font: 1rem "Gotu";
    margin: 0.5rem 0 0.5rem 1.5rem;

    @media (min-width: 680px) {
        margin-top: 6rem;
        margin-left: 3.5rem;
    }
}