@import "style-import";
$yellow: #62ffae;
$nav-width:10%;
$menu-link-width:40px;
$menu-link-padding:10px;

// * {
// 	box-sizing: border-box;
// }

body {
	font-family: "Gotu", sans-serif;
	background: $yellow;
	// display: grid;
	place-items: center;
	height: 100vh;
}

h1,
h2 {
	font-family: "Baloo 2", cursive;
}

a {
	cursor: pointer;
	color: #222;
}

img {
	width: 100%;
}

.resume-main {
	display: inline-block;
	width: calc(100% - #{$nav-width});
	height: 100%;
	position: relative;
	overflow-y: auto;
	overflow-x: hidden;

	// @media (min-width: 680px) {
	// 	min-height: 100vh;
	// 	max-height: calc(100vh - 20%);
	// }
}

.menu {
	display: flex;
	position: relative;
	background: #fff;
	cursor: pointer;
	width: $nav-width;
	height: 100vh;
	min-width: calc(#{$menu-link-width} + (#{$menu-link-padding} * 2));

	@media (min-width: 680px) {
		height: 90vh;
	}

	&__link {
		display: flex;
		padding: $menu-link-padding;
		width: $menu-link-width;
		text-align: center;
		margin: auto;
		position: relative;
		z-index: 3;
		height: 100%;
		justify-content: center;
		flex-direction: column;

		&__shape {
			width: 140%;
			transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
			margin: 0 0 1rem -15%;

			.end-path {
				visibility: hidden;
			}
		}
	}

	&__open {
		font-size: 1.5rem;
		line-height: 1.1;
		text-transform: uppercase;
		word-break: break-all;
	}

	&__items {
		min-width: 100%;
		z-index: 5;
		position: absolute;
		height: 100%;
		left: 100%;
		// z-index: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		visibility: visible;
		width: 19.3rem;

		a {
			width: 100%;
			height: 100%;
			background-size: 200% 100%;
			background-image: linear-gradient(to right, transparent 50%, #f8f8f8 50%);
			display: flex;
			position: relative;
			align-items: center;
			padding: 1rem;
			font-size: 1.8rem;
			letter-spacing: -0.05rem;
			// overflow: hidden;

			&:nth-child(even) {
				background-image: linear-gradient(to right, transparent 50%, #f4f4f4 50%);
			}

			span {
				opacity: 1;
				transform: translateX(-20%);
				position: relative;
			}

			img {
				opacity: 1;
				transform: translateX(20%);
				position: absolute;
				width: 80%;
				right: -10%;
			}
		}
	}

	&.active svg.menu__link__shape {
		transform: rotate(90deg);
	}
}

.resume {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	font-size: 1.4rem;
	height: 100vh;


	// @media (min-width: 680px) {
	// 	// width: ;
	// 	// grid-template-columns: 1fr 33rem;

	// }

	h2 {
		font: 3rem / 1.2 "Gotu", sans-serif;
		letter-spacing: -0.1rem;
		margin-bottom: 3rem;
		margin-left: 1rem;

		@media (min-width: 680px) {
			font: 5rem / 1.2 "Gotu", sans-serif;
			margin-left: 3rem;
			overflow: hidden;
			white-space: nowrap;
		}

		.char {
			display: inline-block;
		}
	}

	&__background {
		opacity: 0.35;
		position: absolute;
		top: 2%;
		max-width: 34rem;
		left: -10%;
	}

	&__info {
		padding: 2rem;
		position: relative;

		small {
			display: block;
			text-transform: uppercase;
			font: 1rem "Gotu";
			margin: 0.5rem 0 0.5rem 1.5rem;

			@media (min-width: 680px) {
				margin-top: 6rem;
				margin-left: 3.5rem;
			}
		}

		&__recipes a {
			display: block;
			margin: 1.6rem 0;
			font-size: 1.3rem;
			line-height: 1.3;
			overflow-y: hidden;
			padding: 0 0 0 1rem;
			transition: 0.3s ease-in-out;

			&:before {
				content: "";
				background: #222;
				height: 0.15rem;
				width: 0;
				transition: 0.3s ease-in-out;
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-100%);
			}

			&:hover {
				transform: translateX(2rem);

				&:before {
					width: 2.4rem;
				}
			}

			&:active {
				&:before {
					width: 85%;
				}
			}

			@media (min-width: 680px) {
				font-size: 1.5rem;
				padding: 0 0 0 3rem;
			}

			span {
				display: inline-block;
			}
		}
	}
}

.spaghetti {
	.resume__background {
		transform: rotate(20deg);
	}
}

.body-card {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.body-clone {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	max-width: 60rem;
	background: $yellow;
	max-height: 100vh;
	overflow: hidden;
	width: 100%;

	background-size: cover;
	background-position: 13rem;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='600' height='600' viewBox='0 0 600 600'%3E%3Cg transform='translate(300,300)'%3E%3Cpath d='M171.3,-205.3C215.2,-167.2,239.6,-106.9,247.9,-45.8C256.2,15.3,248.5,77.2,216.3,117.5C184.2,157.8,127.7,176.6,70.6,200.1C13.5,223.6,-44.2,251.8,-80.6,233.4C-117,215,-132.1,150,-124.8,101.6C-117.5,53.3,-87.8,21.5,-74.8,-6.5C-61.9,-34.4,-65.6,-58.6,-56,-102.7C-46.3,-146.8,-23.1,-210.9,20.2,-235C63.6,-259.2,127.3,-243.3,171.3,-205.3Z' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E");

	@media (min-width: 680px) {
		height: 90vh;
		width: 95%;
		box-shadow: 0 10px 55px rgba(0, 0, 0, 0.15);
		border-radius: 2rem;
		background-position: 20rem;
	}

	&[data-resume="ravioli"] {
		.menu.active svg.menu__link__shape {
			transform: rotate(45deg);
		}
	}
}

[data-resume="spaghetti"] {
	.spaghetti {
		visibility: visible;
	}
}

[data-resume="penne"] {
	.penne {
		visibility: visible;
	}
}

[data-resume="fusilli"] {
	.fusilli {
		visibility: visible;
	}
}

[data-resume="farfalle"] {
	.farfalle {
		visibility: visible;
	}
}

[data-resume="ravioli"] {
	.ravioli {
		visibility: visible;
	}
}

$bar-width: 100%;
$bar-width-ani:80%;
$bar-height: 3px;
$bar-spacing: 10px;

.hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before {
	width: $bar-width;
	height: $bar-height;
}

.hamburger-menu {
	max-width: 40px;
	position: relative;
	transform: translateY($bar-spacing);
	background: rgb(0, 0, 0);
	transition: all 0ms 300ms;
	margin-bottom: 50px;

	&.animate {

		background: rgba(0, 0, 0, 1);
	}
}

.hamburger-menu:before,
.hamburger-menu:after {
	content: "";
	position: absolute;
	left: 0;
	right: auto;
	background: rgba(0, 0, 0, 1);
	transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu:before {
	bottom: $bar-spacing;
}

.hamburger-menu:after {
	top: $bar-spacing;
}

.hamburger-menu.animate:after {
	width: $bar-width-ani;
	top: 7px;
	// left: auto;
	// right: 0;
	transform: rotate(45deg);
	transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.animate:before {
	width: $bar-width-ani;
	// left: auto;
	// right: 0;
	bottom: 7px;
	transform: rotate(-45deg);
	transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
}