@import "style-import";
$nav-width:10%;
$menu-link-width:40px;
$menu-link-padding:10px;
// * {
// 	box-sizing: border-box;
// }

body {
	width: 100%;
	height: 100vh;
	background: $color-main;
	place-items: center;
	overflow: hidden;
}

.homePage {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&_card {
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		background: $color-main;
		width: 100%;
		height: 100vh;
		overflow: hidden;
		background-size: cover;
		background-position: 13rem;
		background-repeat: no-repeat;
		background-image: url("../../../../assets/img/demo.svg");

		@media (min-width: $screen-pad) {
			height: 90vh;
			width: 95%;
			box-shadow: 0 10px 55px rgba(0, 0, 0, 0.15);
			border-radius: $card-radius;
			@include transitionfix();
			background-position: 20rem;
		}

		&[data-resume="ravioli"] {
			.menu.active svg.menu__link__shape {
				transform: rotate(45deg);
			}
		}

		.card_menu {
			width: 100%;
			height: 100%;
			position: absolute;
			display: flex;


			.menu_ui-nav001 {
				width: $nav-width;
				height: 100%;
				// z-index: 98;
			}

			.menu_ui-nav-list001 {
				height: 100%;
				width: calc(100% - #{$nav-width});
				position: absolute;
				// @include transitionfix();
				left: $nav-width;
				transition: z-index 1.5s ease-in; //若nav-list太多可能會需要調整秒數
				z-index: 97;

				// background-color: $color-white;
				&--none {
					z-index: 0;
				}
			}
		}


		.card_resume {
			display: inline-block;
			width: calc(100% - #{$nav-width});
			height: 100%;
			position: relative;
			overflow-y: auto;
			overflow-x: hidden;
			margin-left:#{$nav-width};

			.resume_info {
				padding-bottom: 100px;

				.info_title {
					padding: 30px;
				}

				.info_content {
					padding: 0 40px 30px;
					width: 100%;
					height: 100%;
					color: $color-text;

					&_introduce {
						display: flex;
						align-items: flex-start;
						justify-content: flex-start;
						flex-direction: row;
						flex-wrap: wrap;
						width: 100%;
						height: 100%;

						.introduce_pic {
							padding-top: 20px;
							padding-right: 20px;
							position: relative;
							max-width: 30%;
							width: 100%;

							@media (max-width:$screen-sm-than-pad) {
								max-width: 100%;
							}

							.pic_text-top {
								font-size: 50px;
								position: absolute;
								top: -10px;
								color: $color-green-01;

								&:before {
									content: "Hello,";
									font-size: 50px;
									position: absolute;
									left: -3px;
									top: -3px;
									color: $color-white;
								}
							}

							.pic_text-bottom {
								font-size: $font-size-h8;
								color: $color-white;
								margin:10px 0 20px;
							}

							.pic_image-size {
								width: 100%;
								height: auto;
								border-radius: $card-radius;
								overflow: hidden;

								.image-size_img {
									width: 100%;
								}
							}

							.pic_link {
								width: 100%;

								.link_block {
									display: inline-block;
									max-width: 40px;
									width: 100%;
									height: auto;
									padding-right: 10px;

									&_img {
										width: 100%;
									}
								}
							}
						}

						.introduce_content {
							max-width: calc(100% - 30% - 40px);
							width: 100%;

							@media (max-width:$screen-sm-than-pad) {
								max-width: 100%;
							}
						}

					}


					&_web-info {
						display: flex;
						width: 100%;
						flex-wrap: wrap;
						justify-content: flex-start;
						align-items: stretch;

						.web-info_component {
							width: 50%;
							display: inline-block;
							padding: 30px;
							@media (max-width:$screen-sm-than-pad) {
								width: 100%;
								padding: 10px;
							}
						}


					}

					.content_device {
						width: 100%;
						height: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
						flex-flow: wrap;
						flex-direction: row;

						.device_table {
							width: 60%;
							height: auto;
							position: relative;
							margin-right: 80px;

							@media (max-width:$screen-pad) {
								width: 100%;
								margin: 0px 0px 50px;
							}

							.table_device {
								width: 100%;
								height: 100%;
								position: absolute;
								top: 0;
								overflow: hidden;
								pointer-events: none;
								z-index: 2;
								min-height: 15vw;

								@media (min-width:$screen-lg-pad) {
									min-height: 30vw;
								}
							}

							.table_img {
								width: 100%;
								height: 100%;
								padding: 4% 9% 3%;
								z-index: 1;

								img {
									width: 100%;
								}
							}

						}

						.device_mobile {
							width: calc(27% - 80px);
							height: auto;
							position: relative;

							@media (max-width:$screen-pad) {
								width: 70%;
							}

							.mobile_device {
								width: 100%;
								height: 100%;
								position: absolute;
								top: 0;
								overflow: hidden;
								pointer-events: none;
								z-index: 2;
							}

							.mobile_img {
								width: 100%;
								height: auto;
								padding: 28% 6%;
								z-index: 1;

								img {
									width: 100%;
									height: 100%;
								}
							}

							.slider-inner {
								height: 100%;
								width: 100%;
								background-color: $color-bg-mdo;
							}
						}
					}

					.content-book {
						width: 80%;
						margin: 0 auto;
					}
				}
			}
		}




		.resume {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			font-size: 1.4rem;
			height: 100vh;

			h2 {
				font: 3rem / 1.2 "Gotu", sans-serif;
				letter-spacing: -0.1rem;
				margin-bottom: 3rem;
				margin-left: 1rem;

				@media (min-width: 680px) {
					font: 5rem / 1.2 "Gotu", sans-serif;
					margin-left: 3rem;
					overflow: hidden;
					white-space: nowrap;
				}

				.char {
					display: inline-block;
				}
			}

			&__background {
				opacity: 0.35;
				position: absolute;
				top: 2%;
				max-width: 34rem;
				left: -10%;
			}

		}

		.spaghetti {
			.resume__background {
				transform: rotate(20deg);
			}
		}
	}
}


// h2 {
// 	font-family: "Baloo 2", cursive;
// }