<div class="body-card">
    <div class="body-clone" data-resume="spaghetti">

        <!-- <nav class="menu">
            <div class="menu__link" (click)="handleMenu()">
                <div class="hamburger-menu" [ngClass]="isClickMenu ? 'animate':''"></div>
                <a class="menu__open">M</a>
                <a class="menu__open">e</a>
                <a class="menu__open">n</a>
                <a class="menu__open">u</a>
            </div>
        </nav> -->
        <div class="homePage_ui-nav001" (click)="handleMenu()">
            <app-ui-nav001 [isClickMenu]="isClickMenu" [menuChars]="menuChars"></app-ui-nav001>
        </div>

        <div class="menu__items" [@openClose]="isClickMenu? 'open':'closed'">
            <div class="card" *ngFor="let card of cardList; index as i" (click)="clickMenuCard(i)">
                <a class="card_a"><span>{{card}}</span></a>
            </div>
        </div>
        <div class="resume-main">
            <div class="resume spaghetti">
                <img class="resume__background"
                    src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/pasta-spaghetti.png" />
                <div class="resume__info">
                    <small>Recipes for</small>
                    <h2 data-splitting>Spaghetti</h2>

                    <div class="resume__info__recipes">
                        <a target="_blank" href="https://www.bonappetit.com/recipe/bas-best-bolognese"><span>BA's Best
                                Bolognese</span></a>
                        <a target="_blank" href="https://www.bonappetit.com/recipe/white-pesto-pasta"><span>White Pesto
                                Pasta</span></a>
                        <a target="_blank" href="https://www.bonappetit.com/recipe/shrimp-scampi-pasta"><span>Shrimp
                                Scampi</span></a>
                        <span>Zesty
                            Tomato Artichoke PastaZesty
                            Tomato Artichoke PastaZesty
                            Tomato Artichoke PastaZesty
                            Tomato Artichoke PastaZesty
                            Tomato Artichoke PastaZesty
                            Tomato Artichoke PastaZesty
                            Tomato Artichoke PastaZesty
                            Tomato Artichoke PastaZesty
                            Tomato Artichoke PastaZesty
                            Tomato Artichoke PastaZesty
                            Tomato Artichoke PastaZesty
                            Tomato Artichoke PastaZesty
                            Tomato Artichoke PastaZesty
                            Tomato Artichoke PastaZesty
                            Tomato Artichoke PastaZesty
                            Tomato Artichoke PastaZesty
                            Tomato Artichoke PastaZesty
                            Tomato Artichoke PastaZesty
                            Tomato Artichoke PastaZesty
                            Tomato Artichoke PastaZesty
                            Tomato Artichoke PastaZesty
                            Tomato Artichoke PastaZesty
                            Tomato Artichoke PastaZesty
                            Tomato Artichoke PastaZesty
                            Tomato Artichoke PastaZesty
                            Tomato Artichoke PastaZesty
                            Tomato Artichoke PastaZesty
                            Tomato Artichoke PastaZesty
                            Tomato Artichoke PastaZesty
                            Tomato Artichoke PastaZesty
                            Tomato Artichoke PastaZesty
                            Tomato Artichoke PastaZesty
                            Tomato Artichoke PastaZesty
                            Tomato Artichoke PastaZesty
                            Tomato Artichoke PastaZesty
                            Tomato Artichoke Pasta</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="pasta penne">
    <img class="pasta__background" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/pasta-penne.png" />
    <div class="pasta__info">
        <small>Recipes for</small>
        <h2 data-splitting>Penne</h2>

        <div class="pasta__info__recipes">
            <a target="_blank" href="https://www.saltandlavender.com/easy-pasta-arrabiata-recipe/"><span>Penne
                    Arrabiata</span></a>
            <a target="_blank" href="https://www.forkintheroad.co/simple-lemon-arugula-spicy-penne/"><span>Simple Lemon
                    Arugula
                    Spicy Penne
                </span></a>
            <a target="_blank" href="https://www.honeyandbirch.com/penne-aglio-e-olio/"><span>Penne Aglio e
                    Olio</span></a>
        </div>
    </div>
    
        <figure class="pasta__dish">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/pasta-dish-penne.png" alt="Spaghetti Bolognese" />
        </figure>

</div> -->

<!-- <div class="pasta fusilli">
    <img class="pasta__background" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/pasta-fusilli.png" />
    <div class="pasta__info">
        <small>Recipes for</small>
        <h2 data-splitting>Fusilli</h2>

        <div class="pasta__info__recipes">
            <a target="_blank" href="https://www.forkintheroad.co/vegan-fusilli-pasta-salad/"><span>Vegan
                    Fusilli Pasta Salad</span></a>
            <a target="_blank"
                href="https://goodyfoodies.blogspot.com/2012/06/recipe-fusilli-pasta-carbonara-italian.html"><span>Fusilli
                    Carbonara</span></a>
            <a target="_blank" href="https://cookidoo.co.uk/recipes/recipe/en-GB/r247597"><span>Pasta alla
                    Genovese</span></a>
        </div>
    </div>

<figure class="pasta__dish">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/pasta-dish-fusilli.png" alt="Fusilli Pasta Salad" />
        </figure> 

</div>

<div class="pasta farfalle">
    <img class="pasta__background" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/pasta-farfalle.png" />
    <div class="pasta__info">
        <small>Recipes for</small>
        <h2 data-splitting>Farfalle</h2>

        <div class="pasta__info__recipes">
            <a target="_blank"
                href="https://www.budgetbytes.com/mushroom-and-spinach-pasta-with-ricotta/"><span>Mushroom &
                    Spinash Pasta with Ricotta</span></a>
            <a target="_blank" href="https://www.budgetbytes.com/spicy-sausage-broccoli-pasta/"><span>Spicy
                    Saucy and Broccoli Pasta</span></a>
            <a target="_blank" href="https://www.budgetbytes.com/zesty-tomato-artichoke-pasta/"><span>Zesty
                    Tomato Artichoke Pasta</span></a>
        </div>
    </div>

    <figure class="pasta__dish">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/pasta-dish-farfalle.png"
            alt="Fusilli Pasta Salad" />
    </figure>

</div> -->

<!-- <div class="pasta ravioli">
    <img class="pasta__background"
        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/pasta-ravioli.png" />
    <div class="pasta__info">

        <small>Recipes for</small>
        <h2 data-splitting>Ravioli</h2>

        <div class="pasta__info__recipes">
            <a target="_blank"
                href="https://www.goodhousekeeping.com/food-recipes/easy/g739/ravioli-recipes/?slide=2/"><span>Ravioli
                    with Brown Butter and Spinash</span></a>
            <a target="_blank"
                href="https://www.goodhousekeeping.com/food-recipes/a3382/ravioli-zucchini-lasagna/"><span>Ravioli
                    and Zucchini Lasagna</span></a>
            <a target="_blank"
                href="http://www.garnishandglaze.com/2016/06/17/toasted-ravioli-recipe/"><span>Toasted
                    Ravioli</span></a>
        </div>
    </div>

    <figure class="pasta__dish">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/pasta-dish-ravioli.png"
            alt="Fusilli Pasta Salad" />
    </figure>
</div> -->