<div class="homePage">
    <div class="homePage_card" data-resume="spaghetti">

        <div class="card_menu ">
            <div class="menu_ui-nav001" (click)="handleMenu()">
                <app-ui-nav001 [isClickMenu]="isClickMenu" [menuChars]="menuChars"></app-ui-nav001>
            </div>
            <div class="menu_ui-nav-list001" [ngClass]="isClickMenu ? '':'menu_ui-nav-list001--none'">
                <app-ui-nav-list001 [isClickMenu]="isClickMenu" [menuList]="menuList"
                    (clickMenuPage)="clickMenuCard($event)"></app-ui-nav-list001>
            </div>
        </div>

        <div class="card_resume">
            <!-- <img class="resume__background"
                    src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/pasta-spaghetti.png" /> -->
            <ng-container *ngIf="currentPage == 0">
                <div class="resume_info">
                    <div class="info_title">
                        <app-ui-title001 [mainTitle]="menuList[0]" [subTitle]="'About me'"></app-ui-title001>
                    </div>
                    <div class="info_content">
                        <app-ui-content-project001>
                            <ng-container TextType='pointBlock'>
                                <ul class="layout-list-disc001">
                                    <li class="layout-list-disc001_child">以 Angular + Cordova 開發成web APP</li>
                                    <li class="layout-list-disc001_child"> 此專案有六國版本，由核心core＋各國客製化版本</li>
                                </ul>
                            </ng-container>
                            <ng-container TextType='infoBlock'>
                                <span>
                                    Tomato Artichoke PastaZesty
                                    Tomato Artichoke PastaZesty
                                    Tomato Artichoke PastaZesty
                                    Tomato Artichoke Pasta</span>
                            </ng-container>
                        </app-ui-content-project001>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="currentPage == 1">
                <div class="resume_info">
                    <div class="info_title">
                        <app-ui-title001 [mainTitle]="menuList[1]" [subTitle]="'Angular 開發'"></app-ui-title001>
                    </div>
                    <div class="info_content">
                        <app-ui-content-project001>
                            <ng-container TextType='pointBlock'>
                                <ul class="layout-list-disc001">
                                    <li class="layout-list-disc001_child">以 Angular + Cordova 開發成web APP</li>
                                    <li class="layout-list-disc001_child"> 此專案有六國版本，由核心core＋各國客製化版本</li>
                                </ul>
                            </ng-container>
                            <ng-container TextType='infoBlock'>
                                <span>
                                    Tomato Artichoke PastaZesty
                                    Tomato Artichoke PastaZesty
                                    Tomato Artichoke PastaZesty
                                    Tomato Artichoke Pasta</span>
                            </ng-container>
                        </app-ui-content-project001>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="currentPage == 2">
                <div class="resume_info">
                    <div class="info_title">
                        <app-ui-title001 [mainTitle]="menuList[2]" [subTitle]="'Angular 開發'"></app-ui-title001>
                    </div>
                    <div class="info_content">
                        <app-ui-content-project001>
                            <ng-container TextType='pointBlock'>
                                <ul class="layout-list-disc001">
                                    <li class="layout-list-disc001_child">以 Angular + Cordova 開發成web APP</li>
                                    <li class="layout-list-disc001_child"> 此專案有六國版本，由核心core＋各國客製化版本</li>
                                </ul>
                            </ng-container>
                            <ng-container TextType='infoBlock'>
                                <span>
                                    Tomato Artichoke PastaZesty
                                    Tomato Artichoke PastaZesty
                                    Tomato Artichoke PastaZesty
                                    Tomato Artichoke Pasta</span>
                            </ng-container>
                        </app-ui-content-project001>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="currentPage == 3">
                <div class="resume_info">
                    <div class="info_title">
                        <app-ui-title001 [mainTitle]="menuList[3]" [subTitle]="'Angular 開發'"></app-ui-title001>
                    </div>
                    <div class="info_content">
                        <app-ui-content-project001>
                            <ng-container TextType='pointBlock'>
                                <ul class="layout-list-disc001">
                                    <li class="layout-list-disc001_child">以 Angular + Cordova 開發成web APP</li>
                                    <li class="layout-list-disc001_child"> 此專案有六國版本，由核心core＋各國客製化版本</li>
                                </ul>
                            </ng-container>
                            <ng-container TextType='infoBlock'>
                                <span>
                                    Tomato Artichoke PastaZesty
                                    Tomato Artichoke PastaZesty
                                    Tomato Artichoke PastaZesty
                                    Tomato Artichoke Pasta</span>
                            </ng-container>
                        </app-ui-content-project001>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="currentPage == 4">
                <div class="resume_info">
                    <div class="info_title">
                        <app-ui-title001 [mainTitle]="menuList[4]" [subTitle]="'Angular 開發'"></app-ui-title001>
                    </div>
                    <div class="info_content">
                        <app-ui-content-project001>
                            <ng-container TextType='pointBlock'>
                                <ul class="layout-list-disc001">
                                    <li class="layout-list-disc001_child">以 Angular + Cordova 開發成web APP</li>
                                    <li class="layout-list-disc001_child"> 此專案有六國版本，由核心core＋各國客製化版本</li>
                                </ul>
                            </ng-container>
                            <ng-container TextType='infoBlock'>
                                <span>
                                    Tomato Artichoke PastaZesty
                                    Tomato Artichoke PastaZesty
                                    Tomato Artichoke PastaZesty
                                    Tomato Artichoke Pasta</span>
                            </ng-container>
                        </app-ui-content-project001>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>