body {
  width: 100vw;
}

.ququ2020-none {
  display: none !important;
}

//共用layout text style
.layout-list-disc {
  &001 {
    font-size: $font-size-h8;
    list-style: inside;
    list-style-type: disc;

    &_child {
      +.layout-list-disc001_child {
        padding-top: 10px;
      }
    }

  }

}




// style_scrollbar
.style_scrollbar_001 {
  width: 6px;
  background-color: $color-grey-03;
  height: 6px;
}

.style_scrollbar_thumb_001 {
  background-color: $color-grey-02;
}

// body::-webkit-scrollbar {
//   @extend .style_scrollbar_001 !optional;
// }

// body::-webkit-scrollbar-thumb {
//   @extend .style_scrollbar_thumb_001 !optional;
// }

body *::-webkit-scrollbar {
  @extend .style_scrollbar_001 !optional;
}

body *::-webkit-scrollbar-thumb {
  @extend .style_scrollbar_thumb_001 !optional;
}

body {
  scrollbar-arrow-color: $color-grey-03;
  scrollbar-face-color: $color-grey-02;
  scrollbar-3dlight-color: transparent;
  scrollbar-highlight-color: $color-grey-03;
  scrollbar-shadow-color: transparent;
  scrollbar-darkshadow-color: transparent;
  scrollbar-track-color: $color-grey-03;
  scrollbar-base-color: $color-grey-02;
}